Lab3/Student.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Student_Management_System">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Student" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="reg_num"/>
              <xs:element type="xs:string" name="first_name"/>
              <xs:element type="xs:string" name="last_name"/>
              <xs:element type="xs:string" name="college_name"/>
              <xs:element type="xs:string" name="email_id"/>
              <xs:element type="xs:long" name="phn_num"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>